body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin-inline: auto;
  max-inline-size: 70ch;
  padding-inline: 2ch;
}

ul {
  display: grid;
  gap: 1em;
}

footer {
  padding-block: 2em;
}

.updated-at {
  font-size: 0.9rem;
}
